<h1 align="center" style="background-color: #ffff00;">Dashboard Operacional</h1>
<div align="center" style="background-color: #a020f0;">
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/data.js"></script>
      <script src="https://code.highcharts.com/modules/drilldown.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/export-data.js"></script>
      <script src="https://code.highcharts.com/modules/accessibility.js"></script>

      <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
          Chart showing browser market shares. Clicking on individual columns
          brings up more detailed data. This chart makes use of the drilldown
          feature in Highcharts to easily switch between datasets.
        </p>
      </figure>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tabela> </app-tabela>
    </mat-grid-tile>
  </mat-grid-list>
</div>
