<div style="background-color: black;">
  <mat-drawer-container class="formulario-container">
    <mat-drawer mode="side" opened>
      <div>
        <a routerLink="dashboard-operacional">Dashboard Operacional</a>
      </div>

      <div>
        <a routerLink="formulario"> Formulário</a>
      </div>

      <div>
        <a routerLink="dashboard-estrategico"> Dashboard Estrategico</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
